{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}User List - Pages{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/employee-user-list.js' %}"></script>
{% endblock page_js %}


{% block content %}
  <!-- Users List Table -->
  <div class="col-xl-12">

    <div class="nav-align-top nav-tabs-shadow mb-6">
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-justified-employee-list" aria-controls="navs-justified-employee-list" aria-selected="true"><span
            class="d-none d-sm-block"><i class="tf-icons ti ti-list-tree ti-sm me-1_5"></i> Hodimlar ro'yhati <span
            class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1_5 pt-50">3</span></span><i
            class="ti ti-home ti-sm d-sm-none"></i></button>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-justified-add-employee" aria-controls="navs-justified-add-employee"
                  aria-selected="false"><span class="d-none d-sm-block"><i
            class="tf-icons ti ti-user-plus ti-sm me-1_5"></i> Hodim qo'shish</span><i
            class="ti ti-user-plus ti-sm d-sm-none"></i></button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-justified-employee-list" role="tabpanel">
          <div class="card-header border-bottom">
            <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0">
              <div class="col-md-4 user_role"></div>
              <div class="col-md-4 user_plan"></div>
              <div class="col-md-4 user_status"></div>
            </div>
          </div>
          <div class="card-datatable table-responsive">
            <table class="datatables-users table">
              <thead class="border-top">
                <tr>
                  <th>#</th>
                  <th>Email / Username</th>
                  <th>Full Name</th>
                  <th>Additional Info</th>
                  <th>Status</th>
                  <th>Last Login</th>
                  <th>Actions</th>
                </tr>
              </thead>
            </table>
          </div>
          <!-- Offcanvas to add new user -->
        </div>
        <div class="tab-pane fade" id="navs-justified-add-employee" role="tabpanel">
          <p>
            Oat cake chupa chups dragée donut toffee. Sweet cotton candy jelly beans macaroon gummies cupcake gummi
            bears
            cake chocolate.
          </p>
          <p class="mb-0">
            Cake chocolate bar cotton candy apple pie tootsie roll ice cream apple pie brownie cake. Sweet roll icing
            sesame snaps caramels danish toffee. Brownie biscuit dessert dessert. Pudding jelly jelly-o tart brownie
            jelly.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
