{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Cashback Boshqaruvi{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/toastr/toastr.css' %}" />

{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/toastr/toastr.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'customJs/settings/cashback.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-primary mb-4">Cashback Yaratish</h3>
      </div>
    </div>

    <!-- Cashback yaratish formasi -->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-header">
            <h5 class="card-title">Cashback Ma'lumotlari</h5>
          </div>
          <div class="card-body">
            <form id="addCashbackForm">
              {% csrf_token %}
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label for="cashbackName" class="form-label">Cashback Nomi</label>
                    <input type="text" id="cashbackName" name="name" class="form-control"
                           placeholder="Cashback nomini kiriting" required>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-6">
                      <label for="cashbackAmount" class="form-label">Summasi</label>
                      <input type="number" id="cashbackAmount" name="summasi" class="form-control"
                             placeholder="Cashback summasini kiriting" required>
                    </div>
                    <div class="mb-3 col-6">
                      <label for="cashbackAmount" class="form-label">Parent Summasi</label>
                      <input type="number" id="cashbackParentAmount" name="parent_summasi" class="form-control"
                             placeholder="Cashback summasini kiriting" required>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label for="cashbackType" class="form-label">Turi</label>
                    <select id="cashbackType" name="type" class="form-select" required>
                      <option value="" disabled selected>Cashback turini tanlang</option>
                      {% for choice in cashback_type_choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="userType" class="form-label">Foydalanuvchi Turi</label>
                    <select id="userType" name="user_type" class="form-select" required>
                      <option value="" disabled selected>Foydalanuvchi turini tanlang</option>
                      {% for user_type in user_types %}
                        <option value="{{ user_type.0 }}">{{ user_type.1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100">Qo'shish</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- Cashback ro'yhati -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-primary mb-4">Cashback Ro'yxati</h3>
      </div>
      <div id="cashbackList" class="row">
        <!-- Cashback kartalari bu yerda ko'rsatiladi -->
      </div>
    </div>
  </div>
{% endblock %}
