<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
    <div class="container-fluid">
        <!-- Brend logo -->
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
            <h2 class="m-0 text-primary">
                <img class="img-fluid me-2" src="{% static 'landing/img/learning.png' %}" alt="" style="width: 45px;">
                HAMKOR | EDUMY
            </h2>
        </a>

        <!-- Mobil menyuni ochish tugmasi -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar menyusi -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        Bosh sahifa
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'partner_schools' %}" class="nav-link {% if request.resolver_match.url_name == 'partner_schools' %}active{% endif %}">
                        Hamkor maktablar
                    </a>
                </li>
                <li class="nav-item">
                    <a href="teachers.html" class="nav-link {% if request.path == '/teachers.html' %}active{% endif %}">
                        O'qituvchilar
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Kurslar</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact_me' %}" class="nav-link {% if request.resolver_match.url_name == 'contact_me' %}active{% endif %}">
                        Biz bilan bog‘lanish
                    </a>
                </li>
            </ul>

            <!-- Ijtimoiy tarmoqlar va hamkorlik tugmasi -->
            <div class="d-flex align-items-center mt-3 mt-lg-0">
                <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-square rounded-circle bg-light text-primary me-0" href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="btn btn-primary rounded-pill py-2 px-4 ms-3" href="{% url 'login' %}">
                    Hamkorlik 🤝
                </a>
            </div>
        </div>
    </div>
</nav>
