<div class="container-fluid bg-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6">
                        <h1 class="text-primary mb-4"><img class="img-fluid me-2" src="{% static 'landing/img/learning.png' %}" alt=""
                            style="width: 45px;">HAMKOR | EDUMY</h1>
                        <span>HAMKOR | EDUMY — maktablar va o‘quv markazlari uchun ta'limni rivojlantirishga qaratilgan innovatsion platforma. O‘quvchilarni jalb qilish va bonus tizimi orqali hamkorlikni rag‘batlantiramiz.</span>
                    </div>
                    <div class="col-md-6">
                        <h5 class="mb-4">Yangiliklardan xabardor bo‘ling</h5>
                        <p>Platformamizdagi eng so‘nggi yangiliklar va imkoniyatlarni kuzatib boring.</p>
                        <div class="position-relative">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                                placeholder="Emailingizni kiriting">
                            <button type="button"
                                class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Obuna bo‘lish</button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="mb-4">Biz bilan bog‘laning</h5>
                        <p><i class="fa fa-map-marker-alt me-3"></i>123 Ko‘cha, Toshkent, O‘zbekiston</p>
                        <p><i class="fa fa-phone-alt me-3"></i>+998 90 123 45 67</p>
                        <p><i class="fa fa-envelope me-3"></i>info@hamkoredumy.uz</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="mb-4">Xizmatlarimiz</h5>
                        <a class="btn btn-link" href="">Bonus Tizimi</a>
                        <a class="btn btn-link" href="">O‘quvchilar Ro‘yxati</a>
                        <a class="btn btn-link" href="">Hamkorlik Dasturi</a>
                        <a class="btn btn-link" href="">Mukofotlarni Pulga Aylantirish</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="mb-4">Tezkor Havolalar</h5>
                        <a class="btn btn-link" href="">Biz haqimizda</a>
                        <a class="btn btn-link" href="">Bog‘lanish</a>
                        <a class="btn btn-link" href="">Xizmatlarimiz</a>
                        <a class="btn btn-link" href="">Shartlar va Qoidalar</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="mb-4">Ijtimoiy Tarmoqlar</h5>
                        <div class="d-flex">
                            <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a href="#">HAMKOR | EDUMY</a>, Barcha huquqlar himoyalangan.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            Dizayn <a href="https://htmlcodex.com">HTML Codex</a> tomonidan. Tarqatildi <a
                                href="https://themewagon.com">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
