{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}O'quvchilarni qabul qilish{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/toastr/toastr.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/toastr/toastr.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}

{% endblock page_css %}

{% block page_js %}
  {{ block.super }}

{% endblock page_js %}

{% block content %}
  {% include 'students/navbar-student.html' %}
  
  <div class="container py-4">
    <h4 class="mb-4">O‘qituvchilar yuborgan o‘quvchilar ro‘yxati</h4>

    <!-- Filters -->
    <div class="row mb-3">
      <!-- Filterlar uchun karta -->
      <div class="col-md-2">
        <div class="card shadow-sm">
          <div class="card-body py-2">
            <label for="teacherFilter" class="form-label mb-1">
              <i class="ti ti-user fs-5 text-primary me-1"></i> O'qituvchi
            </label>
            <select id="teacherFilter" class="form-select form-select-sm">
              <option value="">Barchasi</option>
              {% for teacher in teachers %}
                <option value="{{ teacher.first_name }} {{ teacher.second_name }}">
                  {{ teacher.first_name|lower|capfirst }} {{ teacher.second_name|lower|capfirst }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Maktab Filter -->
      <div class="col-md-2">
        <div class="card shadow-sm">
          <div class="card-body py-2">
            <label for="schoolFilter" class="form-label mb-1">
              <i class="ti ti-building fs-5 text-secondary me-1"></i> Maktab
            </label>
            <select id="schoolFilter" class="form-select form-select-sm">
              <option value="">Barchasi</option>
              {% for school in schools %}
                <option value="{{ school.maktab_raqami }}">
                  {{ school.maktab_raqami }} - {{ school.nomi }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Sinf Filter -->
      <div class="col-md-2">
        <div class="card shadow-sm">
          <div class="card-body py-2">
            <label for="classFilter" class="form-label mb-1">
              <i class="ti ti-books fs-5 text-info me-1"></i> Sinf
            </label>
            <select id="classFilter" class="form-select form-select-sm">
              <option value="">Barchasi</option>
              {% for sinf in sinflar %}
                <option value="{{ sinf.sinf_raqami }}">
                  {{ sinf.sinf_raqami }}-{{ sinf.belgisi }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Kasb Filter -->
      <div class="col-md-2">
        <div class="card shadow-sm">
          <div class="card-body py-2">
            <label for="occupationFilter" class="form-label mb-1">
              <i class="ti ti-briefcase fs-5 text-success me-1"></i> Kasb
            </label>
            <select id="occupationFilter" class="form-select form-select-sm">
              <option value="">Barchasi</option>
              {% for kasb in kasblar %}
                <option value="{{ kasb.nomi|lower|capfirst }}">{{ kasb.nomi|lower|capfirst }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Yo'nalish Filter -->
      <div class="col-md-2">
        <div class="card shadow-sm">
          <div class="card-body py-2">
            <label for="directionFilter" class="form-label mb-1">
              <i class="ti ti-directions fs-5 text-warning me-1"></i> Yo'nalish
            </label>
            <select id="directionFilter" class="form-select form-select-sm">
              <option value="">Barchasi</option>
              {% for yonalish in yonalishlar %}
                <option value="{{ yonalish.nomi|lower|capfirst }}">{{ yonalish.nomi|lower|capfirst }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Holat Filter -->
      <div class="col-md-2">
        <div class="card shadow-sm">
          <div class="card-body py-2">
            <label for="statusFilter" class="form-label mb-1">
              <i class="ti ti-alert-circle fs-5 text-danger me-1"></i> Holati
            </label>
            <select id="statusFilter" class="form-select form-select-sm">
              <option value="">Barchasi</option>
              <option value="Kutilmoqda">Kutilmoqda</option>
              <option value="Qabul qilingan">Qabul qilingan</option>
              <option value="Guruhga qabul qilindi">Guruhga qabul qilindi</option>
              <option value="Rad etilgan">Rad etilgan</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Qidiruv Input va Tozalash -->
      <div class="col-md-3 mt-3 w-100">
        <div class="card shadow-sm">
          <div class="card-body py-2">
            <label for="studentSearch" class="form-label mb-1">
              <i class="ti ti-search fs-5 text-info me-1"></i> O'quvchi qidirish
            </label>
            <div class="input-group input-group-sm">
              <input
                type="text"
                id="studentSearch"
                class="form-control"
                placeholder="Ism yoki familiya"
              />
              <button id="resetFilters" class="btn btn-danger" type="button">
                <i class="ti ti-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Static Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        <thead class="table-light">
        <tr>
          <th>#</th>
          <th>O‘qituvchi</th>
          <th>O‘quvchi</th>
          <th>Maktab</th>
          <th>Sinf</th>
          <th>Kasb</th>
          <th>Yo‘nalish</th>
          <th>Holati</th>
          <th>Amallar</th>
        </tr>
        </thead>
        <tbody>
        {% for student in all_submitted_students %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td class="teacher-name" data-phone="{{ student.added_by.phone_number }}">
              {{ student.added_by.first_name|lower|capfirst }} {{ student.added_by.second_name|lower|capfirst }}
            </td>
            <td>{{ student.first_name|lower|capfirst }} {{ student.last_name|lower|capfirst }}</td>
            <td>{{ student.sinf.maktab.maktab_raqami|default:"-" }} - {{ student.sinf.maktab.nomi|default:"-" }}</td>
            <td>{{ student.sinf.sinf_raqami }}-{{ student.belgisi }} Sinf</td>
            <td>{{ student.kasb.nomi|default:"-" }}</td>
            <td>{{ student.yonalish.nomi|default:"-" }}</td>
            <td>
              {% if student.status == "pending" %}
                <span class="badge bg-warning text-dark">Kutilmoqda</span>
              {% elif student.status == "accepted" %}
                <span class="badge bg-success">Qabul qilingan</span>
              {% elif student.status == "accept_group" %}
                <span class="badge bg-primary">Guruhga qabul qilindi</span>
              {% elif student.status == "rejected" %}
                <span class="badge bg-danger">Rad etilgan</span>
              {% endif %}
            </td>
            <td>
              {% if student.status == "pending" %}
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#acceptModal">
                  Qabul qilish
                </button>
              {% else %}
                <button class="btn btn-secondary btn-sm" disabled>Qabul qilingan</button>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="9" class="text-center text-muted">Hech qanday ma'lumot topilmadi.</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  

{% endblock %}
